:root {
	--size: 35vmin;
	--fontsize: 6.5vmin;
	--scale: 1.3;
	--duration: 0.7s;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background: lightblue;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
}
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font: 7vw -system-ui, sans-serif;
	overflow: hidden;
}

.box,
.box:before,
.box:after,
.box2,
.box2:before {
	position: absolute;
	top: 0;
	left: 0;
	background-color: royalblue;
	width: var(--size);
	height: var(--size);
}
.box {
	display: flex;
    justify-content: space-around;
    position: relative;
	background-color: unset;
	font-size: var(--fontsize);
	animation: scale forwards var(--duration) infinite ease-in-out alternate,
		fontsize forwards var(--duration) infinite ease alternate;
}
.box:before {
	transform: rotate(22deg);
	content: "";
}

.box:after {
	transform: rotate(-22deg);
	content: "";
}

.box2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}

.box2:before {
	transform: rotate(45deg);
	content: "";
	z-index: -1;
}

.box p {
	color: white;
	white-space: nowrap;
	overflow: visible;
}

.box:hover:before,
.box:hover:after,
.box:hover .box2,
.box:hover .box2:before {
	border: 1px solid gray;
	background-color: unset;
}
.box:hover p {
	color: royalblue;
}
.c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  
  .c-button--gooey {
    color: #06c8d9;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #06c8d9;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color: #06c8d9;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color: #fff;
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }     
@keyframes scale {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(var(--scale));
	}
}

@keyframes fontsize {
	0% {
		font-size: var(--fontsize);
	}
	100% {
		font-size: calc(var(--fontsize) * var(--scale));
	}
}
